<table>
    <tr>
        <td><%= @authentication.user_name %></td>
    </tr>
    <tr>
        <td><%= @authentication.user_adress %></td>
    </tr>
    <tr>
        <td><%= @authentication.phone_number %></td>
    </tr>
</table>
