<% if current_user&&current_user == @post.user %>
    <%= link_to("Add a message", new_post_path(@post), class: "btn btn-primary pull-right")%>
<% else %>
    <%= link_to("Write a authentication", new_authentication_path(@authentication), class: "btn btn-primary pull-right")%>
<% end %>
<table class="table table-boldered">
    <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td><%=link_to(post.title, post_path(post))%></td>
                <td><%= post.created_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>
